<form hx-post="/auth-register" hx-swap="outerHTML" class="" id="form-register">

	<h2 class="text-4xl mt-5">Register</h2>

	<div class="h-12 pt-2">
		<% if (typeof status !='undefined' ) { %>
			<%- include ('../components/alert') %>
				<% } %>

	</div>



	<input type="hidden" id="token" name="token" value="<%= token %>">
	<div class="mb-6">
		<label class="block text-gray-700 text-sm font-bold mb-2" for="email">
			Email
		</label>
		<input
			class="w-2/3 bg-white rounded-md px-2 h-8 border border-inherit border-blue-200 focus:outline-none focus:border-2 focus:border-blue-500 invalid:border-red-500 valid:border-green-500"
			id="email" type="text" placeholder="email" name="email" required>
	</div>
	<div class="mb-6">
		<label class="block text-gray-700 text-sm font-bold mb-2" for="password">
			Password
		</label>
		<input
			class="w-2/3 bg-white rounded-md px-2 h-8 border border-inherit border-blue-200 focus:outline-none focus:border-2 focus:border-blue-500 invalid:border-red-500 valid:border-green-500"
			id="password" type="password" placeholder="*******" name="password" required>
	</div>

	<div id="alert"></div>
	
	<button class="w-2/3 font-bold py-2 px-4 rounded-md bg-red-500 text-white hover:bg-red-700 mt-5" type="submit" >
		<ion-icon name="logo-ionic" class="animate-spin htmx-indicator"></ion-icon>
		Register
	</button>
	
		<button class="w-2/3 font-bold py-2 px-4 rounded-md bg-blue-500 text-white hover:bg-blue-700" hx-get="/auth-login" hx-push-url="/auth-login"  hx-target="#form-register"  hx-select="#form-login">
			<ion-icon name="logo-ionic" class="animate-spin htmx-indicator"></ion-icon>
			Login
		</button>



	<div class="bg-white mt-6 w-1/2 px-2 mb-10">
		<p>
			email : test@test.com
		</p>
		<p>
			password : 12345678
		</p>
	</div>

</form>