<meta charset="utf-8" />
<title>Clam | <%-title%> </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Clam favicon -->
<link rel="shortcut icon" href="static/assets/images/myIcon.ico" type="image/x-icon" >