<% if (status==="error") { %>

	<div class="bg-red-100 border w-2/3 border-red-400 text-red-700 px-4 py-1 rounded-md relative" role="alert">
		<strong class="font-bold">Oops!</strong>
		<span class="block sm:inline"><%= messages %></span>
	  </div>
<% } %>
